/*

Website Name: Uknack - Website Description
Website URI: ---
Responsive Css File

*/

@media (min-width: 768px) {
	#content .container {
		width: 750px;
	}

	#header .container.special-container {
		width: 750px;
	}

	.row.special-row {
		margin-left:-17.5px;
		margin-right:-17.5px;
	}

	.special-row .col-side,
	.special-row .col-content {
		padding-left:17.5px;
		padding-right:17.5px;
		float:left;
	}

	.special-row .col-side {
		width:34.9%;
	}

	.special-row .col-content {
		width:65.1%;
	}

    .modal-dialog{
        width: 600px;
    }

    .modal-content{
        padding: 0 40px;
    }

	#post-knack-modal .modal-dialog,
	#review-modal .modal-dialog,
	#edit-knack-modal .modal-dialog {
		width:576px;
	}
	
	/* Vertical center modal */
	.modal.vcenter-modal:before {
	    display: inline-block;
	    vertical-align: middle;
	    content: " ";
	    height: 100%;
	}

	.modal.vcenter-modal {
		text-align: center;
	}

	.modal.vcenter-modal .modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}
}

@media (min-width: 992px) {

	#header {
		position: fixed;
		left:0;
		right:0;
		top:0;
		z-index: 999;
	}

	#content {
		padding:69px 0 0 367px;
	}
	
	.header-left {
		padding-left:48px;
		width:367px;
	}

	.sidebar {
		width:367px;
	}

	.header-right {
		width:calc(100% - 367px)
	}

	#content .container,
	#header .header-right .container {
		width: 100%;
		padding:0 35px;
	}

	#header .container.special-container {
		width: 100%;
	}

	.container.special {
		padding:0 30px;
	}

	.container.special-container {
		padding:0 40px;
	}

	.no-sidebar #content {
		padding-left:0;
	}

	.no-sidebar #content .container,
	.no-sidebar #header .header-right .container {
		padding:0 30px;
		width:750px;
	}

	.no-sidebar .row.special-row {
		margin-left:-30px;
		margin-right:-30px;
	}

	.no-sidebar .special-row .col-side,
	.no-sidebar .special-row .col-content {
		padding-left:30px;
		padding-right:30px;
	}

	.no-sidebar #header .header-left,
	.no-sidebar #header .header-right {
		float:none;
	}

	.no-sidebar #header .header-left {
		width:auto;
		position: absolute;
		left:0;
		top:0;
		padding-left:16px;
	}

	.no-sidebar #header .header-right {
		width:100%;
	}

	.no-sidebar #header .header-buttons {
		position: absolute;
		right:60px;
	}

  #wrapper .top-filter-container .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 367px;
  }

  #wrapper .top-filter-container .container .filter-cell .form-control {
    padding: 20px 60px 20px 0;
  }

}

@media (min-width: 1200px) {

	.row.special-row {
		margin-left:-27.5px;
		margin-right:-27.5px;
	}

	.special-row .col-side,
	.special-row .col-content {
		padding-left:27.5px;
		padding-right:27.5px;
	}

	#header .container.special-container {
		width:100%;
	}

	.container.special {
		padding:0 45px;
	}

	.container.special-container {
		padding:0 54px;
	}

	.no-sidebar #content .container,
	.no-sidebar #header .header-right .container {
		width:952px;
	}

	.no-sidebar #header .header-left {
		padding-left:46px;
	}

	#wrapper .top-filter-container .container {
		padding-left: 35px;
	}
}

@media (min-width: 1400px) {
	#wrapper {
		max-width: 1366px;
		margin:0 auto;
	}

	.fullpage #wrapper {
		max-width: none;
	}

	#wrapper .sidebar,
	#wrapper #header {
		left:auto;
		right:auto;
	}

	#wrapper #header {
		width:1366px;
	}

	.fullpage #wrapper #header {
		width:100%;
	}

	#wrapper #header:after {
		content:'';
		position: fixed;
		width:100%;
		left:0;
		top:0;
		height:69px;
		background-color: #002366;
		z-index: 900;
	}

	#wrapper #header .header-left,
	#wrapper #header .header-right {
		position: relative;
		z-index: 999;
	}
	
	#wrapper .header-left {
		padding-left: 0;
	}

  .fullpage #wrapper .header-left {
    padding-left: 48px;
  }

	body:not(.no-sidebar) #wrapper .container,
	body:not(.no-sidebar)#wrapper .container.special-container {
		/*padding-right:0;*/
	}

	.no-sidebar #wrapper #header .header-left {
		position: absolute;
	}

	#wrapper .top-filter-container {
		left:0;
		right:0;
		z-index: 900;
		box-shadow:2px -1px 2px rgba(81, 159, 170, 0.12)
	}

	#wrapper .top-filter-container .container {
		width: 100% !important;
		left: 0;
		margin:0 auto;
		padding-left:400px;
	}

}

@media (max-width: 1320px) {
	.item-list .item-header {
		position: absolute;
		width:60%;
		height: 100%;
		overflow: hidden;
	}

	.profile .item-list .item-header {
		width:43%;
	}

	.profile .item-list .item-content {
		margin-left:43%;;
	}

	.item-list .item-header > a {
		position: absolute;
		height:100%;
	}

	.item-list .item-content {
		width:40%;
		margin-left: 60%;
		padding:16px 20px 14px;
	}

	.item-list .item-meta,
	.marketplace .item-list .item-meta {
		margin-bottom: 15px;
	}

	.item-list .item-header img {
		position: relative;
		width:auto;
		height:100%;
	}
	#wrapper .top-filter-container .container {
		padding-left: 35px;
	}
}

@media (max-width: 1199px) {
	.profile .col-side,
	.profile .col-content {
		float:none;
		width: 100%;
	}
	
	.item-list .item-header > a {
		position: static;
		height: auto;
	}
	.profile .item-list .item-header img {
		width:100%;
		height:auto;
	}
	/*----------By hideo-----------*/
	.payment-item .col-lg-2.col-md-6.col-sm-2.col-xs-2 {
		width: 20%;
	}
	.payment-item .col-lg-10.col-md-10.col-sm-10.col-xs-10 {
		width: 80%;
	}
} 

@media (max-width: 991px) {
	.sidebar {
		width:100%;
	}

	.sidebar .edit-text .dropdown-menu {
		width:300px;
		margin-left: -150px;
	}

	.sidebar .widget-social .edit-text .dropdown-menu {
		margin-left:0;
	}

	.sidebar .widget.widget-social {
		margin-left:0;
		margin-right: 0;
		padding-left:30px;
		padding-right: 30px;
	}

	#header .header-left {
		padding-left:15px;
	}

	.header-menu {
		margin-right:40px;
	}
	
	#logo,
	.navbar-toggle {
		float:left;
	}

	.navbar-toggle {
		display: block;
	}

	.menu > li > a {
		padding-left:10px;
		padding-right:10px;
	}

	#header .container {
		width:auto;
	}
	.top-filter-container {
		position: relative;
		z-index: 10;
	}

	#content .top-filter-container + .container {
		padding-top: 0;
	}

	.top-filter-container:before  {
		display: none;
	}

	.loadmore-container {
		margin-bottom: 60px;
	}

	.sidebar {
		opacity:0;
		visibility: hidden;
		top:0;
	}

  .sidebar-open .sidebar {
    top: 139px;
    opacity: 1;
    visibility: visible;
  }

	#content .footer {
		display: block;
	}

	.single #content,
	.profile #content {
		padding-bottom: 0;
	}

	.item-action .promote-dropdown .dropdown-menu {
		left:auto;
		right:0;
	}

	.chats-list .owner-meta h3 .item-date {
		float:none;
		display: block;
		margin-bottom: 2px;
	}
	#wrapper .top-filter-container .container {
		padding-left: 16px !important;
	}

	/*--------------Customized by Hideo-----------------*/
	#header .header-left {
		width: 100%;
		border-bottom: solid 1px #001c51;
	}
	#sidebar-toggle-btn {
		float: right;
		margin-right: 15px;
	}
	#header .header-right {
		float: none;
	}
	.responsive-sidebar-wrapper .sidebar-wrapper {
		padding-left: 126px;
		padding-right: 126px;
	}

  	.connections-box .dropdown {
	    left: 0;
	    top: 100%;
  	}
  	#sidebar-toggle-btn {
	    margin-right: -15px;
	}
	.hire-modal-form .order-body {
		margin-top: 10px;
	}

}

@media (max-width: 767px) {
	.btn.navbar-btn {
		padding-left:10px;
		padding-right:10px;
		min-width: 36px;
		text-align: center;
	}

	.navbar-btn .glyphicon {
		line-height: 20px;
		margin-top:-2px;
	}

	.header-menu {
		margin-right: 30px;
	}

	.menu > li > a {
		font-size:14px;
		padding-left:8px;
		padding-right: 8px;
	}

	.masonry-row.row {
		margin-left:-10px;
		margin-right:-10px;
	}

	.item-wrapper {
		padding-left:10px;
		padding-right:10px;
		margin-bottom:20px;
	}

	.item-list .item-header {
		position: static;
		width:100%;
		height:auto;
		float:none;
	}

	.item-list .item-header a {
		position: static;
		height:auto;
	}

	.item-list .item-header img {
		width:100%;
		height:auto;
		border-radius: 4px 4px 0 0;
	}

	.item-list .item-content {
		width:100%;
		float:none;
		margin-left: 0;
		padding:16px 20px 14px;
	}

	.profile .item-list .item-header,
	.profile .item-list .item-content  {
		width:100%;
		float:none;
		margin-left:0;
	}

	.item-list .item-meta,
	.marketplace .item-list .item-meta {
		margin-bottom: 20px;
	}

	.wanted-list,
	.wanted-list .item-header,
	.wanted-list .item-content,
	.wanted-list .item-footer  {
		display: block;
		width:100%;
	}

	.wanted-list .item-footer  {
		border-top: 1px solid #d9e6e8;
		border-left: none;
	}

	.special-row .col-side {
		margin:50px 0 30px;
	}

	.search-cell .form-control {
		padding-right: 45px;
		padding-left:0;
	}

	.search-btn {
		right:20px;
	}

	.box-owner {
		margin-bottom: 50px;
	}

	.page-top > .container:nth-of-type(1) {
		display: none;
	}

	.page-top .item-title {
		font-size:18px;
		margin-bottom: 10px;
	}

	.single .page-top .item-header .item-price {
		font-size:24px;
	}

	.reviews-box {
		padding-left:21px;
		padding-right: 21px;
	}

	.reviews-box h3 {
		margin-bottom: 20px;
	}
	
	.user-info {
		margin-right: 15px;
	}

	.profile-menu li {
		border:none;
	}

	.profile-menu li a,
	.profile-menu li:first-child a,
	.profile-menu li:last-child a {
		padding:0 9px;
	}

	.profile-menu li:last-child a {
		padding-right:0;
	}

	.profile-menu li a .badge {
		font-size:10px;
		margin-right: -15px;
		padding-left:4px;
		padding-right: 4px;
	}

	.chats-list {
		width:60px;
	}
	
	.chats-list .item-owner figure,
	.chats-list .item-owner figure img {
		width: 30px;
	}

	.chats-container {
		width:calc(100% - 60px);
	}

	.chats-list ul li {
		padding-left:15px;
		padding-right: 15px;
	}

	.chats-list .owner-meta {
		display: none;
	}

	.chats-list .item-owner figure {
		margin-right: 0;
	}
	
	.chat .chat-meta-wrapper .item-date,
	.chat.reverse .chat-meta-wrapper .item-date,
	.chat.reverse .item-owner,
	.chat .item-owner {
		float:none;
		display: block;
	}

	.chat.reverse .chat-meta-wrapper .item-date {
		text-align: right;
	}

	.chat {
		padding-right:26px;
	}

	.chat.reverse {
		padding-left:26px;
	}

	.payment-box {
		margin-bottom: 30px;
	}

	.checkout-summary {
		margin-bottom: 70px;
	}

	/*---------------Customized by Hideo----------------*/
	.responsive-sidebar-wrapper .sidebar-wrapper {
		padding-left: 90px;
		padding-right: 90px;
	}
	.topmenu-money-wrapper {
		left: -203px;
	}
	.topmenu-notification-wrapper {
		left: -214px;
	}

	.modal-content {
	 	padding: 0 20px;
	}
	.hire-share-item .btn-custom {
		width: 80px%;
	}

	.item-field3 {
		height: 41px !important;
		text-align: center;
		position: relative;
	}
	.hire-share-item .btn-custom {
		width: 100%;
	}
	.hire-payment-item .item-wrapper > div {
		height: 20px;
	}
	.video-modal-body {
		width: 100%;
		margin-top: 0;
	}

}

@media (max-width: 600px) {
	#header .header-left,
	#header .header-right {
		float:none;
	}

	.navbar-toggle {
		float:right;
	}

	.sidebar-open .navbar-toggle  {
		z-index: 1000;
	}

  .sidebar-open .sidebar {
    top: 140px;
    opacity: 1;
    visibility: visible;
  }

	.navbar-toggle {
		margin-right: 4px;
	}

	#header .header-right {
		border-top:1px solid rgba(0,0,0,0.2);
	}

	.header-menu {
		margin-right: 0;
	}
	
	.rate-cell .rate-name,
	.rate-cell .ratings-wrapper {
		display: none;
	}

	.chats-container {
		padding:0 5px;
	}

	.chats-container header,
	.chats-container .chats-wrapper, 
	.chats-container footer {
		padding-left:13px;
		padding-right: 13px;
	}

	.chats-container footer {
		margin-left: -5px;
		margin-right: -5px;
	}

	.chats-container footer .btn {
		padding-left:12px;
		padding-right: 12px;
	}
	
	.discount-meta {
		display: block;
		margin:8px 0;
	}

	.discout-share-box .btn {
		float:none;
	}

	.panel-title img {
		display: none;
	}

	.no-sidebar .footer .col-xs-6 {
		float:none;
		width:100%;
		text-align: center !important;
	}

	/*---------------customized by Hideo-----------*/
	.check-dropdown-box {
		width: 100%;
	}
	.post-btn-wrapper {
		margin-top: 59px;
	}
	.message-input-wrapper {
		top: 59px;
		margin-left: 0px;
	}	
	.responsive-sidebar-wrapper .sidebar-wrapper {
		padding-left: 0;
		padding-right: 0;
	}
	.rating-group-wrapper {
		flex-wrap: wrap;
	}
	.rating-item-content {
		width: 33.33%;
	}

	.hire-share-item .btn-custom {
		width: 100px;
		position: relative;
	}
	.col-item {
		width: 100%;
	}
	.order-body img {
		height: auto;
	}
}

@media (max-width: 480px) {
	.col-xss-12 {
		width:100%;
		float:none;
	}

	.order-cell {
		width:auto;
	}

	.search-cell {
		position: static;
		width:35px;
	}

	.search-form {
		opacity:0;
		visibility: hidden;
	}

	.search-cell input[type="search"],
	.search-cell input[type="text"] {
		position: absolute;
		left:15px;
		right:15px;
		top:0;
		padding-left:30px;
		padding-right: 45px;
	}

	.mobile-search-btn,
	.search-form.open .search-close-btn {
		display: block;
	}

	.search-btn  {
		right:auto;
		left:15px;
	}

	.order-cell .form-control {
		padding-left: 15px;
	}

	.single .page-top .item-header .item-meta {
		display: none;
	}
	
	.item-action-wrapper .item-owner {
		float:none;
	}

	.item-action-wrapper .item-action  {
		float:none;
		border-top:1px solid #cedfe1;
		margin-top:14px;
	}

	.payment-box [class*="col-"] {
		margin-bottom: 15px;
	}

	.payment-box [class*="col-"]:last-child {
		margin-right: 0;
	}

	/*--------------Customized by Hideo---------------*/
	.header-menu {
		width: 100%;
		float: none !important;
	}
	#header .header-right {

	}
	#header .header-buttons {
		float: none !important;
		border-top: 1px solid #001c51;
		margin-left: -15px;
		margin-right: -15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.user-info {
		float: left;
	}
	.top-filter-container {
		padding-top: 10px;
	}
	.join-conversation {
		margin-left: 0px;
	}
	.topmenu-notification-wrapper {
		left: -169px;
		width: 284px;
	}
	.sidebar-open .sidebar {
	    top: 209px;
	    opacity: 1;
	    visibility: visible;
	}
	.register-modal-form {
		padding: 0;
	}
	.register-modal-form .modal-footer h5 {
		text-align: center;
		clear: both;
		width: 100%;
		margin-bottom: 0px;
	}
	.register-modal-form .modal-footer h5 {
		clear: both;
		text-align: center;
		width: 100%;
	}
	.register-modal-form .modal-footer .desc {
		line-height: 20px;
	}
	.item-field2 {
    	padding-left: 35px !important;
	}
}

@media (max-width: 380px) {
	.sidebar .edit-text .dropdown-menu {
		width:250px;
		margin-left: -125px;
	}

	.sidebar .widget-social .edit-text .dropdown-menu {
		margin-left:0;
	}

	.sidebar .widget, 
	.sidebar .footer {
		margin-left:25px;
		margin-right: 25px;
	}

	.sidebar .widget.widget-social {
		margin-left:0;
		margin-right: 0;
		padding-left:25px;
		padding-right: 25px;
	}

	.sidebar-open .navbar-toggle .icon-bar {
		background-color: #fc598e;
	}

	.widget.widget-social {
		margin-left:0;
		margin-right: 0;
		padding-left:20px;
		padding-right: 20px;
	}
	
	.user-info {
		margin-right: 10px;
	}

	.user-info img {
		max-width: 40px;
	}

	/*------------customized by Hideo-----------*/
	.feed-container {
		padding: 36px 10px ;
	}
	.feed-review-content {
		margin: 9px 28px 0px;
	}
	.second-dot {
			margin-left: 102px;
	}
	.topmenu-money-wrapper {
		width: 162%;
		left: -181px;
	}	
	.topmenu-notification-wrapper {
		padding-left: 6px;
		padding-right: 6px;
		left: -180px;
		width: 276px;
	}

	.modal .upload-image {
		margin-right: 2px;
	}
	.profile-menu li a, .profile-menu li:first-child a, .profile-menu li:last-child a {
		padding: 0px 5px;
	}
	#header .header-buttons {
		padding-left: 10px;
		padding-right: 10px;		
	}
	.sidebar .widget {
	    padding-left: 20px;
	    padding-right: 20px; 			
	}
	.btn-lg-facebook {
		font-size: 20px;
	}
	.agreed-modal-form .font-1 {
		font-size: 17px;
	}
	.rating-item-content {
		width: 50%;
	}
	.flip-wrapper {
		text-align: center !important;
	}

}

@media (max-width: 300px) {
	.sidebar {
		width:100%;
	}
}

/* =============================================
--------------  Retina Display  -----------
==============================================*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	
	

}