<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-top">
                <h2 class="item-title">{{ single_knack.title }}</h2>
                <div class="item-meta">
                    <span class="date-icon"></span>
                    <div class="item-date">{{ single_knack.created_at }}</div>
                    <span class="dot-separator"></span>
                    <div class="item-category">
                        <a href="#" title="Technology">{{ single_knack.category_name }}</a>
                    </div>
                    <span class="h-separator"></span>
                    <span class="view-icon"></span>
                    <div class="item-view">{{ single_knack.views }} views</div>
                </div><!-- End .item-meta -->
                <a href="#" class="close-btn" title="Close">
                    <span class="sr-only">Close Button</span>
                    <span class="close-icon"></span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container special-container">
    <div class="row special-row">
        <div class="col-content">
            <div class="single-gallery">
                <h3>Photos</h3>

                <div class="row">
                    <div class="popup-gallery">
                        <div class="col-xs-7">
                            <a href="" class="zoom-item" title="Knack image"><img ng-src="{{ single_knack.photo }}" alt="Knack Image"></a>
                        </div>
                    </div>
                </div>
            </div><!-- End .single-gallery -->

            <div class="single-item-desc">
                <h3>I need help with...</h3>
                <p>{{ single_knack.description }}</p>
            </div>

            <div class="line-separator"></div>

            <div class="single-item-desc">
                <h3>What's my schedule like?</h3>
                <p>{{ single_knack.schedule }}</p>
            </div>

            <div class="single-item-desc">
                <h3>Do I need this service delivered?</h3>
                <p>Yes<span class="dot-separator"></span>{{ single_knack.delivered }}</p>
            </div>

            <div class="single-item-desc">
                <h3>Willing to pay...</h3>
                <p>${{ single_knack.cost }}</p>
            </div>

            <div class="line-separator"></div>

            <div class="reviews-container">
                <h3>Reviews (2)<a href="#">Write review</a></h3>
                <div class="review" ng-repeat="review in single_knack.reviews">
                    <div class="review-wrapper clearfix">
                        <div class="item-owner">
                            <figure>
                                <img ng-src="{{review.avatar}}" alt="{{review.name}}">
                            </figure>
                            <div class="owner-meta">
                                <h4><a href="#">{{review.name}}</a></h4>
                                <span>{{review.college}}</span>
                            </div><!-- End .owner-meta -->
                        </div><!-- End .item-owner -->
                        <div class="ratings-container">
                            <div class="ratings-wrapper">
                                <div class="ratings" ng-style="{'width': (review.rate * 100 / 5) + '%'}"></div><!-- End .ratings -->
                            </div><!-- End .ratings-wrapper -->
                        </div><!-- End .ratings-container -->
                    </div><!-- End .review-wrapper -->
                    <div class="review-content">
                        {{review.content}}
                    </div><!-- End .review-content -->
                </div><!-- .End .review -->

            </div><!-- End .reviews-container -->
        </div><!-- End .col-content -->

        <div class="col-side">
            <article class="item item-profile">
                <div class="item-header text-center">
                    <i class="profile-checked"><img src="images/sprites-images/checked.png" /></i>
                    <figure class="item-avatar">
                        <img ng-src="{{single_knack.profile.avatar}}" alt="{{single_knack.profile.name}}">
                        <span class="owner-status on"></span>
                        <a href="" class="play-video"></a>
                    </figure>
                    <a class="profile-name">{{single_knack.profile.name}}</a>
                    <div class="profile-item">{{single_knack.profile.college}}</div>
                    <div class="profile-item">
                        {{single_knack.profile.skill}} &middot; {{single_knack.profile.age}} y/o
                    </div>
                </div>
                <div class="item-content">
                    <div class="form-group">
                        <p class="item-price">${{single_knack.profile.cost}}</p>
                        <p class="profile-item">{{single_knack.profile.created}}</p>
                    </div>
                    <div class="form-group">
                        <div class="rating">
                            <div class="ratings-container sm">
                                <span class="ratings-wrapper">
                                    <span class="ratings" ng-style="{'width':(single_knack.profile.rate * 100 / 5) + '%'}"></span>
                                </span>
                                <span class="ratings-count">({{single_knack.profile.rate}})</span>
                            </div>
                        </div>
                        <p class="profile-item">Last seen: {{single_knack.last_seen}}</p>
                    </div>
                </div>
            </article>
            <!--
            <chatbox receipt-data="single_knack" sender-data="profile_user" mode="'flip'"></chatbox>
            -->

        </div><!-- End .col-side -->
    </div><!-- End .special-row -->
</div><!-- End .container -->