<div id="content" role="main" class="marketplace" ng-class="{single: single_item }">
    <div ng-hide="single_item">
        <div class="top-filter-container">
            <div class="container">
                <div class="filter-row">
                    <div class="filter-cell search-cell">
                        <form class="search-form" role="search">
                            <input type="search" class="form-control" ng-model="filter.search_text" placeholder="Search by name, classmate name, knack etc ...">
                            <input type="button" value="Search" class="search-btn" title="Search Now" ng-click="full_search()">
                            <a href="#" class="search-close-btn" title="Close Search"><span aria-hidden="true">&times;</span></a>
                        </form>
                        <a href="#" class="mobile-search-btn" title="Search now">Seach now</a>

                    </div><!-- End .filter-cell -->
                    <div class="filter-cell order-cell">
                        <select name="#" class="form-control" id="item-sort" ng-model="filter.sort_by">
                            <option value="recently">Sort By: Most recent</option>
                            <option value="popular">Sort By: Most popular</option>
                        </select>
                    </div><!-- End .filter-cell -->
                    <div class="filter-cell layout-cell">
                        <a href="javascript:void(0);" class="layout-btn icon-grid active" title="Layout Grid" ng-click="show_grid()">Layout Grid</a>
                        <a href="javascript:void(0);" class="layout-btn icon-list" title="Layout List" ng-click="show_list()">Layout List</a>
                    </div><!-- End .filter-cell -->
                </div><!-- End .top-filter-row -->
            </div><!-- end .container -->
        </div><!-- End .top-filter-container -->

        <div class="container">
            <p class="content-info"><strong>{{ items_total }}</strong> marketplace items found</p>

            <div class="row">
                <div masonry reload-on-show id="item-container">
                    <div ng-show="show_mode=='grid'" ng-repeat="item in items" class="col-lg-4 col-sm-6 col-xs-6 col-xss-12 item-wrapper masonry-brick">
                        <article class="item wanted">
                            <div class="item-content">
                                <h2 class="item-title">
                                    <a ui-sref="item-offered-single({id:item.id})" href="">{{ item.name }}</a>
                                </h2>
                                <p>{{ item.description }}</p>
                                <div class="item-meta">
                                    <span class="item-date">
                                        <i class="icon-date"></i>Posted 2 days ago
                                    </span>
                                    <span class="dot-separator"></span>
                                    <div class="item-category">
                                        <a href="" title="{{ item.category_name }}">{{ item.category_name }}</a>
                                    </div><!-- End .item-tags -->
                                </div><!-- End .item-meta -->
                                <div class="item-owner">
                                    <figure>
                                        <img src="images/users/user1.jpg" alt="Derek Wilson">
                                    </figure>
                                    <div class="owner-meta">
                                        <h4><a ui-sref="public-profile({id:item.owner_id})" href="">{{ item.owner_name }}</a><span class="owner-status on"></span></h4>
                                        <span>{{ item.owner_college }}<span class="dot-separator"></span>22 y/o</span>
                                    </div><!-- End .owner-meta -->
                                </div><!-- End .item-owner -->
                            </div>
                            <div class="item-footer clearfix">
                                <span class="item-price pull-left">${{ item.price }}</span>
                                <a href="#" class="btn btn-custom pull-right"><strong>Offer Item</strong></a>
                            </div>
                        </article>
                    </div><!-- End .col-lg-4 -->
                    <div ng-show="show_mode=='list'" ng-repeat="item in items" class="col-xs-12 item-wrapper">
                        <article class="item wanted-list clearfix">
                            <div class="item-content">
                                <h2 class="item-title">
                                    <a href="javascript:void(0);" ui-sref="item-wanted-single({id:item.id})">{{ item.name }}</a>
                                </h2>
                                <p>{{ item.description }}</p>
                                <div class="item-meta">
                                    <div class="ratings-container">
                                        <div class="ratings-wrapper">
                                            <div class="ratings" style="width:80%;"></div><!-- End .ratings -->
                                        </div><!-- End .ratings-wrapper -->
                                        <span class="ratings-count">(7)</span>
                                    </div>
                                    <span class="dot-separator"></span>
                                    <span class="item-date">
                                        <i class="icon-date"></i>Posted 2 days ago
                                    </span>
                                    <span class="dot-separator"></span>
                                    <div class="item-category">
                                        <a href="" title="{{ item.category_name }}">{{ item.category_name }}</a>
                                    </div><!-- End .item-category -->
                                </div><!-- End .item-meta -->
                                <div class="item-owner">
                                    <figure>
                                        <img ng-src="{{ item.owner_picture }}" alt="{{ item.owner_name }}" width="35px" height="35px">
                                    </figure>
                                    <div class="owner-meta">
                                        <h4><a ui-sref="public-profile({id:item.owner_id})" href="">{{ item.owner_name }}</a><span class="owner-status on"></span></h4>
                                        <span>{{ item.owner_college }}</span>
                                    </div><!-- End .owner-meta -->
                                </div><!-- End .item-owner -->
                            </div><!-- End .item-content -->
                            <div class="item-footer clearfix">
                                <span class="item-price">${{ item.price }} <span>per hour</span></span>
                                <a href="#" class="btn btn-custom4 btn-border btn-block">Chat Now</a>
                                <a href="#" class="btn btn-custom btn-block"><strong>Accept Job</strong></a>
                            </div>
                        </article>
                    </div><!-- End .col-xs-12 -->
                </div><!-- End #item-container  -->
            </div><!-- End .row  -->

            <div class="loadmore-container text-center">
                <a href="javascript:void(0);" class="btn-loadmore btn btn-custom3 btn-border" ng-click="show_more()">Show more Items</a>

            </div><!-- End .text-center -->
        </div><!-- End .container -->
    </div>
    <div ng-show="single_item" ng-include="'/views/marketplace/single/index.html'"></div>
    <footer class="footer">
        <div class="container">
            <p class="copyright">&copy; 2015 Uknack. All rights reserved</p>
            <ul class="footer-menu clearfix">
                <li><a href="#">About</a></li>
                <li><a href="#">Feedback</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
            <div class="social-icons">
                <a href="#" class="social-icon icon-facebook" title="Like us on Facebook">Facebook</a>
                <a href="#" class="social-icon icon-twitter" title="Find us on Twitter">Twitter</a>
            </div><!-- End .social-icons -->
        </div><!-- End .container -->
    </footer>
</div><!-- End #content -->
<aside class="sidebar" role="complementary" ng-include="'/views/left/main_left.html'" onload="mainLeftLoaded()"></aside>
<!--
<div class="sidebarbg-mobile"></div><!-- end .sidebarbg-mobile -->