<header id="header" class="clearfix" ng-class="{'main-header sticky-menu': currentMenu=='home'}" role="banner" ng-controller="headerCtrl" headroom>
    <div class="header-left clearfix"  ng-hide="currentMenu=='home'">
        <h1 id="logo">
            <a ui-sref="home" title="Uknack - Site Description">
                <img src="images/logo.png" alt="Uknack - Site Description">
            </a>
        </h1>

        <button type="button" id="sidebar-toggle-btn" class="navbar-toggle" aria-expanded="false" ng-click="toggleResponsiveSidebar()">

        <button type="button" id="sidebar-toggle-btn" class="navbar-toggle" aria-expanded="false" ng-click="toggleSidebar()">

            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
    </div><!-- End .header-left -->
    <div class="header-right"  ng-hide="currentMenu=='home'">
        <div class="container clearfix">
            <nav class="header-menu" role="navigation">
                <ul class="menu clearfix">
                    <li ng-class="{active: currentMenu=='feed'}"><a href="" ui-sref="feed">Feed</a></li>
                    <li ng-class="{active: currentMenu=='knacks'}"><a href="" ui-sref="knack-offered">Knacks</a></li>
                    <li ng-class="{active: currentMenu=='marketplace'}"><a href="" ui-sref="marketplace">Marketplace</a></li>
                </ul>
            </nav><!-- End .header-menu -->
            <div class="header-buttons" ng-hide="is_authenticated">
                <a href="javascript:void(0);" class="navbar-btn btn btn-custom2 btn-border" title="Login Now" ng-click="openLoginModal()"><span class="hidden-xs">LOGIN</span><span class="glyphicon glyphicon-retweet visible-xs"></span></a>
                <a href="javascript:void(0);" class="navbar-btn btn btn-custom" title="Start Knacking" ng-click="registerModal()"><strong class="hidden-xs">START KNACKING</strong><span class="glyphicon glyphicon-indent-left visible-xs"></span></a>
            </div><!-- End .header-buttons -->
            <div class="header-buttons clearfix" ng-show="is_authenticated">
                <div class="profile-menu">
                <ul class="profile-menu">
                    <li><a  title="4 New Messages" ng-click="showPaymentBox($event)">
                            <i class="icon-payment"></i>
                            <span class="badge"></span>
                        </a>
                    </li>
                    <li><a ui-sref="messages" title="4 New Messages" >
                            <i class="icon-message"></i>
                            <span class="badge" ng-show="new_message_count>-1">4</span> <!--{{ new_message_count }}-->
                        </a>
                    </li>
                    <li><a title="2 Alerts" ng-click="showNotificationBox($event)"><i class="icon-bell" ></i>
                         <span class="badge">2</span> 
                    </a></li>
                    <li><a href="javascript:void(0)" title="Logout" ng-click="signout()"><i class="icon-out"></i></a></li>
                    <div class="topmenu-money-wrapper" ng-show="isShowPaymentBox" outside-click="hideDropDownBox()">
                        <div class="icon-wrapper">
                            <img class="img-icon" src="images/login_logo.png" />
                        </div>   
                        <div class="text-item"> 
                            <a href="" class="congrate">Congrats Automn</a>
                        </div>
                        <div class="text-item gray-color ">You have made</div>
                        <div class="text-item money-blue">$2,014</div>
                        <div class="text-item gray-color ">since start</div>
                    </div>
                    <div class="topmenu-notification-wrapper" ng-show="isShowNotificationBox" outside-click="hideDropDownBox()">
                        <div class="text-item title">
                            You have 5 notifications
                        </div>    
                        <div class="text-item">
                            <div class="item-inner-text blue-color">Mike Campbell</div>
                            <div class="item-inner-text ">bout your</div>
                            <div class="item-inner-text blue-color">knack</div>
                            <img class="right-img" src="images/sprites-images/S-green-icon.png" />
                        </div>    
                        <div class="text-item">
                            <div class="item-inner-text blue-color">Mike Campbell</div>
                            <div class="item-inner-text ">bout your</div>
                            <div class="item-inner-text blue-color">knack</div>
                            <img class="right-img" src="images/sprites-images/S-green-icon.png" />
                        </div> 
                        <div class="text-item">
                            <div class="item-inner-text blue-color">Mike Campbell</div>
                            <div class="item-inner-text ">bout your</div>
                            <div class="item-inner-text blue-color">knack</div>
                            <img class="right-img" src="images/sprites-images/check-green.png" style="height: 14px"/>
                        </div> 
                        <div class="text-item last-text">
                            You have 5 notifications
                        </div>    
                    </div>    
                </ul>
                </div>
                <div class="user-info">
                    <figure>
                        <a ui-sref="profile">
                            <img width="40px" height="40px" src="images/users/user1.png"  alt="">
                            <!--
                            <img width="40px" height="40px" src="img/users/user1.png" ng-src="{{ profile_user.picture }}" alt="{{ profile_user.full_name }}">
                            -->
                        </a>
                    </figure>
                    <div class="user-meta user-info-text">
                        <h4><a ui-sref="profile">Automn Barsby{{ profile_user.full_name }}</a></h4>
                        <span>Harvard University{{ profile_user.college }}</span>
                    </div><!-- End .owner-meta -->
                </div><!-- End .item-owner -->
            </div>
        </div><!-- End .header-right-wrapper -->
    </div><!-- End .header-right -->
    <!-- homepage header -->
    <div class="container" ng-show="currentMenu=='home'" >
        <h1 id="logo" class="pull-left">
            <a ui-sref="home" title="Uknack - Site Description">
                <img src="images/logo.png" alt="Uknack - Site Description">
            </a>
        </h1>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-container" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-menu-container">
            <ul class="menu clearfix">
            <li><a ui-sref="knack-offered">Knacks</a></li>
                <li><a ui-sref="marketplace">Marketplace</a></li>
                <li ng-hide="is_authenticated"><a href="javascript:void(0);" ng-click="openLoginModal()">Login</a></li>
                <li ng-hide="is_authenticated"><a id="id-sign-up" href="javascript:void(0);" class="navbar-btn btn" ng-click="registerModal()">SIGN UP FREE</a></li>
            </ul>
        </div><!-- End .navbar-collapse -->
    </div><!-- End .container -->
    <!-- End homepage header -->
</header><!-- End #header -->